#container
  #content
    %header
      %h1 placepanda

    #description
      %p
        A quick and simple service for getting pictures of pandas for use as
        placeholders in your designs or code. Just put your image size (width
        & height) after our URL and you'll get a placeholder.

    #instructions
      %p Like this: http://placepanda.com/200/300 or: http://placepanda.com/g/200/300

    #pandapics
      = image_tag('panda.jpg')

    %footer
      %p Made by Matt Van Horn, inspired by placekitten

